// Primary 
$red: hsl(0, 100%, 74%); //#FF7A7A
$green: hsl(154, 59%, 51%); //#38CC8C

// Accent
$blue: hsl(248, 32%, 49%); //#6055A5

// Neutral
$dark-blue: hsl(249, 10%, 26%); //#3E3C49
$grayblue: hsl(246, 25%, 77%); //#B9B6D3